In [232]:
!pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\ghada\anaconda3\lib\site-packages (0.3.2)
Requirement already satisfied: packaging in c:\users\ghada\anaconda3\lib\site-packages (from kagglehub) (23.2)
Requirement already satisfied: requests in c:\users\ghada\anaconda3\lib\site-packages (from kagglehub) (2.32.2)
Requirement already satisfied: tqdm in c:\users\ghada\anaconda3\lib\site-packages (from kagglehub) (4.66.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ghada\anaconda3\lib\site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ghada\anaconda3\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ghada\anaconda3\lib\site-packages (from requests->kagglehub) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ghada\anaconda3\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\users\ghada\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)

In [233]:
#Import all relevant libraries
import kagglehub
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import os
 
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [235]:
folder_path = kagglehub.dataset_download("unsdsn/world-happiness")
files = os.listdir(folder_path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)

In [236]:
#Read in the csv file and convert to a Pandas dataframe
os.listdir(folder_path)
dataframes = {}

for file in files:
    file_path = os.path.join(folder_path, file)
    if os.path.isfile(file_path): 
        df = pd.read_csv(file_path)
        dataframes[file] = df

<h3>Load dataframes</h3>

In [238]:
df_2015 = dataframes[list(dataframes.keys())[0]]
df_2016 = dataframes[list(dataframes.keys())[1]]
df_2017 = dataframes[list(dataframes.keys())[2]]

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

<h3>Now we should see each year data frame:</h3>

In [241]:
df_2015.sample(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
56,Nicaragua,Latin America and Caribbean,57,5.828,0.05371,0.59325,1.14184,0.74314,0.55475,0.19317,0.27815,2.32407
70,Mauritius,Sub-Saharan Africa,71,5.477,0.07197,1.00761,0.98521,0.70950,0.56066,0.07521,0.37744,1.76145
71,Hong Kong,Eastern Asia,72,5.474,0.05051,1.38604,1.05818,1.01328,0.59608,0.37124,0.39478,0.65429
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425

In [242]:
df_2016.sample(5)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
110,Sierra Leone,Sub-Saharan Africa,111,4.635,4.505,4.765,0.36485,0.62800,0.00000,0.30685,0.08196,0.23897,3.01402
84,Kyrgyzstan,Central and Eastern Europe,85,5.185,5.103,5.267,0.56044,0.95434,0.55449,0.40212,0.04762,0.38432,2.28136
67,Latvia,Central and Eastern Europe,68,5.560,5.486,5.634,1.21788,0.95025,0.63952,0.27996,0.08890,0.17445,2.20859
128,Bulgaria,Central and Eastern Europe,129,4.217,4.104,4.330,1.11306,0.92542,0.67806,0.21219,0.00615,0.12793,1.15377
31,France,Western Europe,32,6.478,6.397,6.559,1.39488,1.00508,0.83795,0.46562,0.17808,0.12160,2.47440

In [243]:
df_2017.sample(5)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
34,Qatar,35,6.375,6.568477,6.181523,1.870766,1.274297,0.710098,0.604131,0.330474,0.439299,1.145464
26,Malta,27,6.527,6.598397,6.455603,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,1.556863
148,Guinea,149,3.507,3.584428,3.429572,0.244550,0.791245,0.194129,0.348588,0.264815,0.110938,1.552312
33,Spain,34,6.403,6.471055,6.334945,1.384398,1.532091,0.888961,0.408781,0.190134,0.070914,1.927758
19,Chile,20,6.652,6.739251,6.564749,1.252785,1.284025,0.819480,0.376895,0.326662,0.082288,2.509586

In [244]:
#merged_df = pd.concat([df_2015,df_2016,df_2017], axis=1) # concat all dataframes on columns

In [245]:
print("df_2015 shape",df_2015.shape, "df_2016 shape",df_2016.shape, "df_2017 shape",df_2017.shape)

df_2015 shape (158, 12) df_2016 shape (157, 13) df_2017 shape (155, 12)

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

In [247]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [248]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [249]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [250]:
df_2015.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Country,158,158,Switzerland,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Region,158,10,Sub-Saharan Africa,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Happiness Rank,158.0,NaN,NaN,NaN,79.493671,45.754363,1.0,40.25,79.5,118.75,158.0
Happiness Score,158.0,NaN,NaN,NaN,5.375734,1.14501,2.839,4.526,5.2325,6.24375,7.587
Standard Error,158.0,NaN,NaN,NaN,0.047885,0.017146,0.01848,0.037268,0.04394,0.0523,0.13693
Economy (GDP per Capita),158.0,NaN,NaN,NaN,0.846137,0.403121,0.0,0.545808,0.910245,1.158448,1.69042
Family,158.0,NaN,NaN,NaN,0.991046,0.272369,0.0,0.856823,1.02951,1.214405,1.40223
Health (Life Expectancy),158.0,NaN,NaN,NaN,0.630259,0.247078,0.0,0.439185,0.696705,0.811013,1.02525
Freedom,158.0,NaN,NaN,NaN,0.428615,0.150693,0.0,0.32833,0.435515,0.549092,0.66973
Trust (Government Corruption),158.0,NaN,NaN,NaN,0.143422,0.120034,0.0,0.061675,0.10722,0.180255,0.55191
Generosity,158.0,NaN,NaN,NaN,0.237296,0.126685,0.0,0.150553,0.21613,0.309883,0.79588
Dystopia Residual,158.0,NaN,NaN,NaN,2.098977,0.55355,0.32858,1.75941,2.095415,2.462415,3.60214

In [251]:
df_2016.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Country,157,157,Denmark,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Region,157,10,Sub-Saharan Africa,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Happiness Rank,157.0,NaN,NaN,NaN,78.980892,45.46603,1.0,40.0,79.0,118.0,157.0
Happiness Score,157.0,NaN,NaN,NaN,5.382185,1.141674,2.905,4.404,5.314,6.269,7.526
Lower Confidence Interval,157.0,NaN,NaN,NaN,5.282395,1.148043,2.732,4.327,5.237,6.154,7.46
Upper Confidence Interval,157.0,NaN,NaN,NaN,5.481975,1.136493,3.078,4.465,5.419,6.434,7.669
Economy (GDP per Capita),157.0,NaN,NaN,NaN,0.95388,0.412595,0.0,0.67024,1.0278,1.27964,1.82427
Family,157.0,NaN,NaN,NaN,0.793621,0.266706,0.0,0.64184,0.84142,1.02152,1.18326
Health (Life Expectancy),157.0,NaN,NaN,NaN,0.557619,0.229349,0.0,0.38291,0.59659,0.72993,0.95277
Freedom,157.0,NaN,NaN,NaN,0.370994,0.145507,0.0,0.25748,0.39747,0.48453,0.60848
Trust (Government Corruption),157.0,NaN,NaN,NaN,0.137624,0.111038,0.0,0.06126,0.10547,0.17554,0.50521
Generosity,157.0,NaN,NaN,NaN,0.242635,0.133756,0.0,0.15457,0.22245,0.31185,0.81971
Dystopia Residual,157.0,NaN,NaN,NaN,2.325807,0.54222,0.81789,2.03171,2.29074,2.66465,3.83772

In [252]:
df_2017.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Country,155,155,Norway,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Happiness.Rank,155.0,NaN,NaN,NaN,78.0,44.888751,1.0,39.5,78.0,116.5,155.0
Happiness.Score,155.0,NaN,NaN,NaN,5.354019,1.13123,2.693,4.5055,5.279,6.1015,7.537
Whisker.high,155.0,NaN,NaN,NaN,5.452326,1.118542,2.864884,4.608172,5.370032,6.1946,7.62203
Whisker.low,155.0,NaN,NaN,NaN,5.255713,1.14503,2.521116,4.374955,5.193152,6.006527,7.479556
Economy..GDP.per.Capita.,155.0,NaN,NaN,NaN,0.984718,0.420793,0.0,0.663371,1.064578,1.318027,1.870766
Family,155.0,NaN,NaN,NaN,1.188898,0.287263,0.0,1.042635,1.253918,1.414316,1.610574
Health..Life.Expectancy.,155.0,NaN,NaN,NaN,0.551341,0.237073,0.0,0.369866,0.606042,0.723008,0.949492
Freedom,155.0,NaN,NaN,NaN,0.408786,0.149997,0.0,0.303677,0.437454,0.516561,0.658249
Generosity,155.0,NaN,NaN,NaN,0.246883,0.13478,0.0,0.154106,0.231538,0.323762,0.838075
Trust..Government.Corruption.,155.0,NaN,NaN,NaN,0.12312,0.101661,0.0,0.057271,0.089848,0.153296,0.464308
Dystopia.Residual,155.0,NaN,NaN,NaN,1.850238,0.500028,0.377914,1.591291,1.83291,2.144654,3.117485

In [253]:
df_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [254]:
df_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [255]:
df_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

In [259]:
# its taken from Gallup World Poll

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

In [261]:
# its taken from 2015 to 2019

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

<em>the data collected from 2015 until 2017 shows a little inconsistencies such as:
<ul>
    <li>
       <em> data format:
           <ol>
               <li>
                   Number of columns are different in each data frame 
               </li>
               <li>
                   additional or less columns in each dataframe
               </li>
           </ol>
    </li>
</ul>

In [264]:
print("Number of columns in 2015 df:\n", len(df_2015.columns))
print("Number of columns in 2016 df:\n", len(df_2016.columns))
print("Number of columns in 2017 df:\n", len(df_2017.columns))

Number of columns in 2015 df:
 12
Number of columns in 2016 df:
 13
Number of columns in 2017 df:
 12

<h2> let us rename the identical columns thats differ from other dataframes</h2>
<em> as you can see above, df_2017 has similar columns to df_2015 and df_2016 but has a different names</em>

In [266]:
new_names={
    'Happiness.Rank':'Happiness Rank',
    'Happiness.Score':'Happiness Score',
    'Whisker.high':'Whisker high',
    'Whisker.low':'Whisker low',
    'Dystopia.Residual':'Dystopia Residual',
    'Economy..GDP.per.Capita.':'Economy (GDP per Capita)',
    'Health..Life.Expectancy.':'Health (Life Expectancy)',
    'Trust..Government.Corruption.':'Trust (Government Corruption)'
}
df_2017.rename(new_names, axis=1, inplace=True)

In [267]:
df_2017.head()

,Country,Happiness Rank,Happiness Score,Whisker high,Whisker low,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

<h3>
    as kaggle data card explained,
    the six happiness factors are:</h3>
    <ol>
        <li>Family</li>
        <li>GDP per Capita</li>
        <li>Life expectency</li>
        <li>Freedom</li>
        <li>Generosity</li>
        <li>Trust Government Corruption</li>
    </ol>
<em>Therefore, any other factor is not relevent to the study</em>

In [294]:
df_2015.drop(columns=['Region'],axis=1,inplace=True)
df_2016.drop(columns=['Lower Confidence Interval','Upper Confidence Interval','Region'],axis=1,inplace=True)
df_2017.drop(['Whisker high','Whisker low'],axis=1,inplace=True)

<h2>After we have dealed with inconsistencies and dropped unrelevent columns, we now will concat all 3 dataframes together and then deal with the missing values</h2>
<em>since there are some columns that are not in other dataframes and it is risky to remove these columns, we will use full outer join</em>

In [297]:
df_2015['Year_2015'] = '2015'
df_2016['Year_2016'] = '2016'
df_2017['Year_2017'] = '2017'

In [299]:
df_2015.head()

,Country,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year_2015
0,Switzerland,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [301]:
merged_df = pd.merge(df_2015,df_2016,how='outer')
merged_df = pd.merge(merged_df,df_2017, how='outer')

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

In [304]:
merged_df.head()

,Country,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year_2015,Year_2016,Year_2017
0,Afghanistan,141,3.794,NaN,0.401477,0.581543,0.180747,0.106180,0.061158,0.311871,2.150801,NaN,NaN,2017
1,Afghanistan,153,3.575,0.03084,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,1.952100,2015,NaN,NaN
2,Afghanistan,154,3.360,NaN,0.382270,0.110370,0.173440,0.164300,0.071120,0.312680,2.145580,NaN,2016,NaN
3,Albania,95,4.959,0.05013,0.878670,0.804340,0.813250,0.357330,0.064130,0.142720,1.898940,2015,NaN,NaN
4,Albania,109,4.644,NaN,0.996193,0.803685,0.731160,0.381499,0.039864,0.201313,1.490442,NaN,NaN,2017

In [306]:
merged_df.duplicated().sum()

0

In [308]:
merged_df.isnull().sum()

Country                            0
Happiness Rank                     0
Happiness Score                    0
Standard Error                   312
Economy (GDP per Capita)           0
Family                             0
Health (Life Expectancy)           0
Freedom                            0
Trust (Government Corruption)      0
Generosity                         0
Dystopia Residual                  0
Year_2015                        312
Year_2016                        313
Year_2017                        315
dtype: int64

In [310]:
merged_df[merged_df.duplicated()]

Empty DataFrame
Columns: [Country, Happiness Rank, Happiness Score, Standard Error, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual, Year_2015, Year_2016, Year_2017]
Index: []

In [319]:
# there are no duplicated rows

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [315]:
#Display number missing values per column
merged_df.isnull().sum().sort_values(ascending = False)

Year_2017                        315
Year_2016                        313
Standard Error                   312
Year_2015                        312
Country                            0
Happiness Rank                     0
Happiness Score                    0
Economy (GDP per Capita)           0
Family                             0
Health (Life Expectancy)           0
Freedom                            0
Trust (Government Corruption)      0
Generosity                         0
Dystopia Residual                  0
dtype: int64

<p>We will use an imputation with a constant value for the following reasons:</p>
<ol>
    <li>Year null values has no effect on result if we replace missing values with a constant since each row has its own information with the relevant year</li>
    <li>Standard Error is not one of the six happiness factors so if we replace missing values with a constant, it does not effect on result</li>
</ol>

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [53]:
# check columns types

In [54]:
# go to clean them

In [55]:
# check outliers

**What is an Outlier?** 
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR
 
![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

In [57]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly

In [58]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [59]:
# go to delete ouliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

In [63]:
# go back to 6th dimention --> Completeness

### Correcting errors

-------------------

In [65]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis: 

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.